@import url('https://fonts.googleapis.com/css?family=Poiret+One');

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset */

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 1em;
	background-image: url(images/bg.png);
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
}

#anim {
	width: 50px;
	height: 50px;
	margin: auto;
	border-radius: 50%;
	background-color: #9BE8FF;
}

.sliders {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 300px;
}

.sliderLabels {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 50%;
	margin: 0 0 10px 0;
}

.actualSlider {
	margin: 0 0 10px 0;
}

.end {
	width: 300px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 50%;
  border-radius: 8px;
  height: 5px;
  border: 1px solid #bdc3c7;
  background-color: #fff; 
  outline: 0px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  cursor: pointer;
}
