/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset */

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 1em;
	background-image: url(../images/bg.png);
}

.container {
	width: 100vw;
	height: 100vh;
	transition: .2s;
}

.containerNightMode {
	background-color: #282828;
}

.sidebar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	width: 30%;
	max-width: 300px;
	height: 100%;
	background-color: #F7F7F7;
	transition: .2s;
	border-right: 1px solid #EAEAEA;
}

.sidebar.is-closed {
	transform: translateX(-301px);
}

.sidebarToggle {
	position: absolute;
	top: 0;
	left: 10px;
	font-size: 40px;
	color: #C6C6C6;
}

.sidebarToggle.is-closed {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 310px;
	font-size: 40px;
}

.sidebarNightMode {
	background-color: #181D24;
	color: #79A1DA;
	border-right: 1px solid #313F52;
}

.sidebarToggleNightMode {
	color: #4B6589;
}

.breathe {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	margin: auto;
}

#anim {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.animClass {
	background-color: #9BE8FF;
}

.animNightMode {
	background-color: #79A1DA;
}

.sliders {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 300px;
}

.sliderLabel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 50%;
	margin: 0 0 10px 0;
}

.actualSlider {
	margin: 0 0 10px 0;
	-webkit-appearance: none;
  width: 50%;
  border-radius: 8px;
  height: 5px;
  border: 1px solid #bdc3c7;
  background-color: #fff; 
  outline: 0px;
}

.actualSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  cursor: pointer;	
}

.actualSliderNightMode {
	background-color: #4B6589;
	border: 1px solid #4B6589;
}

.actualSliderNightMode::-webkit-slider-thumb {
	background-color: #79A1DA;
	border: 1px solid #79A1DA;
}

.checkboxSettings {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
}

.checkboxContainer {
	display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer input{
	position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
	position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #88B1EB;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: #4B6589;
}

.nightModeCheckbox {
	background-color: #4B6589;
}

.checkmarkNightMode {
	background-color: #4B6589;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.checkboxSettings .sliderLabel {
	height: 25px;
	text-align: center;
	line-height: 25px;
	margin: 0 0 5px 0;
}

.dropdownSettings {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	width: 100%;
}

.dropdownSettings .sliderLabel {
	height: 25px;
	text-align: center;
	line-height: 25px;
	margin: 0 0 5px 0;
}

.soundList {
	display: none;
}

.soundList span {
	margin: 0 0 5px 0;
}

.soundListDisplay {
	display: flex;
	flex-direction: column;
}

.colorSettingList {
	display: none;
}

.colorSettingsListDisplay {
	display: flex;
	flex-direction: column;
}

.fa-angle-down:before {
	display: inline-block;
	font-size: 28px;
	width: 25px;
}

.fa-angle-down:hover {
	cursor: pointer;
}

.fa-play:before {
	margin: 0 0 0 5px;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
}

.fa-pause:before {
	margin: 0 0 0 5px;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
}



/*input[type=range] {
  -webkit-appearance: none;
  width: 50%;
  border-radius: 8px;
  height: 5px;
  border: 1px solid #bdc3c7;
  background-color: #fff; 
  outline: 0px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  cursor: pointer;
}*/
